@charset "UTF-8";

@font-face {
    font-family: 'Passion One';
    src: url('fontes/PassionOne-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sriracha';
    src: url('fontes/Sriracha-Regular.ttf');
    font-weight: 400;
    font-style: italic;
}

:root {
    --cor0: #59372A;
    --cor1: #D9D4D2;
    --cor2: #A68F7B;

    --fonte-padrao: verdana, helvetica, sans-serif;
    --fonte-destaque: 'Sriracha', cursive;
    --fonte-passion: 'Passion One', cursive;
}

* {        /* reset */
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-destaque);
}

main  p {
    margin: 15px 0px;
    text-align: justify;
    font-size: 1.5em;
    line-height: 2em;
    font-size: 3vw;
    padding: 40px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section#imagem1 {
    background-image: url('imagens/cordel.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#imagem2 {
    background-image: url('imagens/cordel1.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    color: var(--cor1);
    background-color: rgba(0, 0, 0, 0.519);
    display: inline-block;
    text-shadow: 1px 1px 0 black;
    padding-left: 40px;
}

header {
    background-color: var(--cor0);
    min-height: 130px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: var(--cor1);
    font-family: var(--fonte-passion);
    font-weight: normal;
    font-size: 10vw;
    font-variant: small-caps;
    margin-bottom: 5px;
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    color: var(--cor2);
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 50px;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: var(--cor1);
}

a:hover {
    color: var(--cor2);
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor0);
    text-align: center;
    color: var(--cor2);
    font-size: 0.8em;
    padding: 5px;
}